@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kanit:ital,wght@0,100;0,200;0,300;0,500;1,900&family=Poppins:wght@100;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Poppins';
}

header {
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;
    font-family: 'Poppins';
}

.img_1 img{
    padding: 0%;
    margin: 25px 0px 25px 200px;
    height: 140px;
}

@media only screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
    }
  }

/* buttons header */

.nav_bar {
    margin: 0px 300px 0px 0px;
    padding: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button_nav_bar_1 {
    background-color: transparent;
    border: 2px solid white;
    color: #424949;
    padding: 15px 32px;
    width: 16rem;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
}

.button_nav_bar_1:hover {
    transition: 0.4s;
    background-color: #E5E7E9;
    color: #424949;
  }

.button_nav_bar_2 {
    background-color: #9ac488;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    width: 13rem;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 10px;
    margin-right: 15px;
}

.button_nav_bar_2:hover {
    transition: 0.4s;
    background-color: #424949;
    color: white;
  }

.button_nav_bar_3 {
    background-color: #81c5e7;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    width: 11rem;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    margin-left: 15px;
}

.button_nav_bar_3:hover {
    transition: 0.4s;
    background-color: #424949;
    color: white;
  }

.button_nav_bar_4 {
    background-color: transparent;
    border: 2px solid white;
    color: #424949;
    padding: 15px 32px;
    width: 12rem;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
}

.button_nav_bar_4:hover {
    transition: 0.4s;
    background-color: #E5E7E9;
    color: #424949;
  }

.contenedor1 {
    /* border: 1px solid black; */
    height: 600px;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contenedor1 img {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 600px;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
}

.contenedor1 h1 {
    color: white;
    text-transform: none;
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 90px;
    margin: 100px 400px 100px 400px;
    text-shadow: 5px 5px 5px black;
}

@media only screen and (max-width: 1200px) {
    .contenedor1 h1 {
        font-size: 60px;
    }
  }

/* Contenedor2 */

.contenedor2 {
    /* border: 3px solid violet; */
    padding: 0%;
    margin: 0%;
    height: 700px;
    align-items: center;
    justify-content: center;
}

.contenedor2 h1 {
    position: absolute;
    top: 80%;
    font-family: 'Edu TAS Beginner', cursive;
    text-transform: none;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 5px;
}

.img_contenedor2 img {
    /* border: 3px solid violet; */
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 700px;
    position: absolute;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1;
}

/* img_contenedor2 */

.all-img_contenedor2 {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img1-contenedor2 img {
    height: 290px;
    padding: 0%;
    margin: 8px 8px 8px 8px;
}

.img2-contenedor2 img {
    height: 290px;
    padding: 0%;
    margin: 8px 8px 8px 8px;  
}

.img3-contenedor2 img {
    height: 290px;
    padding: 0%;
    margin: 8px 8px 8px 8px;    
}

.img4-contenedor2 img {
    height: 290px;
    padding: 0%;
    margin: 8px 8px 8px 8px;    
}


/* contenedor3 */

.contenedor3 {
    /* border: 1px solid black; */
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

.contenedor3 img {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 600px;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

@media only screen and (max-width: 1200px) {
    .contenedor3 {
        display: flex;
        justify-content: center !important;
    }
  }


/* contenedor4 */

.contenedor4 {
    /* border: 4px solid violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    flex-wrap: wrap;
    padding: 3rem;
}

.contenedor4 h2 {
    color: white;
    margin-bottom: 50px;
    text-transform: none;
    font-family: 'Dancing Script';
    font-size: 80px;
    font-weight: 400;
    text-shadow: 4px 4px 4px black;
}

.contenedor4 a {
    font-size: 25px;
    color: white;
    font-family: 'Poppins';
    text-transform: none;
    width: 700px;
}

@media only screen and (max-width: 1200px) {
    .contenedor4 {
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center;
    }
  }

.button1 {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 50px;
    padding: 15px 0px;
    width: 12rem !important;
    cursor: pointer;
    font-family:'Poppins';
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px !important;
  }

.button1:hover {
    transition: 0.4s;
    background-color: white;
    color: black;
  }

/* contenedor5 */

.contenedor5 {
    /* border: 1px solid black; */
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1_contenedor5 {
    justify-content: center;
    text-align: center;
    padding-top: 90px;
    font-family: 'Edu TAS Beginner', cursive;
    text-transform: none;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 5px;
}

/* img1_contenedor5 */

.img1_contenedor5 {
    /* border: 2px solid violet; */
    margin: 0px 20px 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img1_contenedor5 img {
    height: 55%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.img1_contenedor5 h3 {
    margin-bottom: 30px;
    margin-top: 30px;
    color: #9ac488;
    letter-spacing: 2px;
    font-weight: 600;
}

.button2 {
    background-color: #9ac488;
    color: white;
    border: 2px solid transparent;
    margin-top: 50px;
    padding: 20px 32px;
    width: 12rem;
    cursor: pointer;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 600;
}

.button2:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
  }

/* img2_contenedor5 */

.img2_contenedor5 {
    /* border: 2px solid violet; */
    margin: 0px 200px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img2_contenedor5 img {
    height: 55%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.img2_contenedor5 h3 {
    margin-bottom: 30px;
    margin-top: 30px;
    color: #9ac488;
    letter-spacing: 2px;
    font-weight: 600;
}

.button3 {
    background-color: #9ac488;
    color: white;
    border: 2px solid transparent;
    margin-top: 50px;
    padding: 20px 32px;
    width: 12rem;
    cursor: pointer;
    letter-spacing: 4px;
    border-radius: 7px;
    font-weight: 600;
}

.button3:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
  }

/* contenedor6 */

.contenedor6 {
    /* border: 2px solid black; */
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #9ac488;
}

.img_contenedor6 {
    display: flex;
    justify-content: center;
    padding-top: 105px;
}

.img_contenedor6 img {
    margin: 0%;
    height: 300px;
    margin: 0px 100px 0px 100px;
}

.footer3 {
    height: 200px !important;
}

/* footer */

.footer {
    /* border: 2px solid blueviolet; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424949;
}

.footer a {
    color: #9ac488;
    margin-left: 50px;
    margin-right: 50px;
    text-transform: none;
    font-size: 130%;
    font-weight: 300;
}